<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form
    [formGroup]="form"
    (submit)="onSaveContact()"
    *ngIf="!isLoading"
  >
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="name"
        placeholder="Name"
      />
      <mat-error *ngIf="form.get('name').invalid"
        >Please enter a name for the contact</mat-error
      >
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)"/>
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.name">
    </div>
    <mat-form-field>
      <input
        matInput
        type="email"
        formControlName="email"
        placeholder="E-mail"
      />
      <mat-error *ngIf="form.get('email').invalid"
        >Please enter an email for the contact</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        type="tel"
        matInput
        placeholder="Telephone"
        formControlName="phone"
      />
      <mat-error *ngIf="form.get('phone').invalid"
        >Please enter a phone number for the contact</mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">
      Save Contact
    </button>
  </form>
</mat-card>
